ser.phar
composer.lock
.env.*.php
.env
.DS_Store
Thumbs.db
/nbproject
/node_modules
/node_modules/
/js/node_modules
/js/node_modules/
/javascrip/node_modules
/javascrip/node_modules/
/app/config/database.php
/temp
app/view/test-hung
/public/html/.idea
/public/upload
/app/storage/debugbar
.idea
/app/config/local/database.php
